@import-normalize; /* Normalize Browser Style */

:root {
  /* Base Font-Size */
  font-size: 16px;

  --font-sm: 0.75rem; /* 12px */
  --font-lg: 1.125rem; /* 18px */

  --padding-base: 1rem 0.75rem; /* vertical | horizontal */

  --font-vazir: "vazir";
  --font-vazir-bold: "vazir-bold";

  --color-white: #ffffff;
  --color-primary: #27bdbe;
  --color-secondary: #3e92e6;

  --border-radius-full: 10rem;
  --border-radius: 0.5rem;

  --max-width: 60%;

  --text-gray-100: #f6f6f6;
  --text-gray-200: #d2d2d2;
  --text-gray-300: #b7b7b7;
  --text-gray-400: #808080;
  --text-gray-500: #4a4a4a;
  --text-gray-600: #434343;
  --text-gray-700: #2c2c2c;
  --text-gray-800: #212121;
  --text-gray-900: #161616;

  --bg-gray-100: #f6f6f6;
  --bg-gray-200: #d2d2d2;
  --bg-gray-300: #b7b7b7;
  --bg-gray-400: #808080;
  --bg-gray-500: #4a4a4a;
  --bg-gray-600: #434343;
  --bg-gray-700: #2c2c2c;
  --bg-gray-800: #212121;
  --bg-gray-900: #161616;
}

/* ============== Vazir Fonts ============== */

@font-face {
  font-family: "vazir";
  src: url("assets/Vazir.ttf") format("opentype");
}
@font-face {
  font-family: "vazir-bold";
  src: url("assets/Vazir-Bold.ttf") format("opentype");
}

body {
  margin: 0 auto;
  font-family: "vazir", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction: rtl;
}

button {
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--color-white);
}

@import "assets/uilities.css";

@media screen and (min-width: 426px) {
  body {
    max-width: var(--max-width);
  }

  .selection {
    max-width: var(--max-width);
  }
}
